npm-debug.log*
bun.lock
README.md
node_modules
LICENSE
.env

.dockerignore
secrets
prisma
dist
.husky
.eslintcache
generated
rabbitmq
test/acceptance/reports
test/feature/coverage
test/feature/reports
test/unit/coverage
test/unit/reports
openapi.yaml